@import "tailwindcss";

@theme {
  --color-primary:   #00a7e3;
  --color-secondary: rgb(2, 10, 28);
  --color-black:     #020a1c;
  --color-gray:      #4d5869;

  --font-sans:       "Satoshi", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

@layer components {
  
}